<template>
    <section>
        <br>
        <b-notification type="is-danger" v-if="error">
            {{ error }}
        </b-notification>
        <b-notification type="is-success" v-if="success">
            {{ success }}
        </b-notification>
        <b-field horizontal label="Name">
            <b-input v-model="formUser.firstName" name="user[first_name]" placeholder="First Name" expanded></b-input>
            <b-input v-model="formUser.lastName" name="user[last_name]" placeholder="Last Name" expanded></b-input>
        </b-field>

        <b-field horizontal label="Email">
            <b-input v-model="formUser.email" name="user[email]" type="email" placeholder="example@google.com"
                     expanded></b-input>
        </b-field>

        <b-field horizontal label="Password">
            <b-input v-model="formUser.plainPassword.first" name="user[plainPassword][first]" type="password"
                     maxlength="30" placeholder="Password"></b-input>
            <b-input v-model="formUser.plainPassword.second" name="user[plainPassword][second]" type="password"
                     maxlength="30" placeholder="Repeat Password"></b-input>
        </b-field>

        <b-field horizontal><!-- Label left empty for spacing -->
            <p class="control">
                <button class="button is-primary" @click="submit">
                    <div v-if="this.$route.params.id == undefined">
                        Submit
                    </div>
                    <div v-else>
                        Amend
                    </div>
                </button>
            </p>
        </b-field>

    </section>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                formUser: {},
                endpoint: '',
                error: null,
                success: null,
            }
        },
        created() {
            if (this.user == null) {
                this.endpoint = '/user/new';
                this.reset();
            } else {
                this.endpoint = `/user/${this.user.id}/edit`;
                this.formUser = this.user;
                this.setUser();
            }
        },
        methods: {
            submit() {
                axios.post(this.endpoint, this.formUser)
                  .then(res => {
                      if(this.$route.params.id == undefined)
                        this.reset();
                      this.error = null;
                      this.success = 'Success';
                      setTimeout(() => {
                          this.success = null;
                      },2000)
                  })
                  .catch(res => {
                    this.error = res.response.data;
                  });
            },
            reset() {
                this.formUser = {
                    firstName: '',
                    lastName: '',
                    email: '',
                    plainPassword: {
                        first: '',
                        second: '',
                    }
                }
            },
            setUser(){
                this.formUser = this.user;
                this.formUser.plainPassword = {
                    first: '',
                    second: '',
                }
            }
        },
    }
</script>