<template>
    <div v-if="user != null">
        <new-form :user="user"></new-form>
    </div>
</template>

<script>
    import NewForm from './_form.vue';

    export default {
        data() {
            return {
                user: null,
            }
        },
        components: {
            NewForm
        },
        methods: {},
        activated: function () {
            this.user = null;
            axios.get(`/user/${this.$route.params.id}`)
              .then(res => {
                  this.user = res.data.user;
              })
        },
    }
</script>