<template>
    <section>
        <b-tabs @change="changeTab">
            <b-tab-item label="Users">
                <b-notification type="is-success" v-if="success">
                    {{ success }}
                </b-notification>
                <div class="level">
                    <div class="level-left">
                        <b-autocomplete
                                rounded
                                v-model="search"
                                :data="filteredUsers"
                                placeholder="Search e.g. Mike"
                                :keep-first="true"
                                :open-on-focus="true"
                                field="firstName"
                                icon="magnify"
                                @select="user => selected = user">
                            <template slot="empty">No results found</template>
                        </b-autocomplete>
                    </div>
                    <div class="level-right">
                        <button class="button is-primary" @click='fetchData'>
                            <i class="fas fa-sync-alt"></i> &nbsp Refresh Table
                        </button>
                    </div>
                </div>
                <b-table
                        :data="filteredUsers"
                        :checked-rows.sync="checkedRows"
                        checkable>
                    <template slot-scope="props">
                        <b-table-column field="id" label="ID" width="40" numeric>
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column field="firstName" label="First Name">
                            {{ props.row.firstName }}
                        </b-table-column>

                        <b-table-column field="lastName" label="Last Name">
                            {{ props.row.lastName }}
                        </b-table-column>

                        <b-table-column field="email" label="Email">
                            {{ props.row.email }}
                        </b-table-column>

                        <b-table-column field="actions" label="Actions">
                            <router-link :to="{name: 'user_edit', params: {id:props.row.id}}" class="button is-info">
                                <i class="fas fa-pencil-alt"></i> &nbsp Edit
                            </router-link>
                            <button class="button is-danger" @click='deleteUser(props.row.id)'>
                                <i class="fas fa-trash-alt"></i> &nbsp Delete
                            </button>
                        </b-table-column>

                    </template>

                    <template slot="bottom-left">
                        <b>Total checked</b>: {{ checkedRows.length }}
                    </template>
                </b-table>
            </b-tab-item>

            <b-tab-item label="Deleted">
                <!--<b-table-->
                        <!--:data="archived"-->
                        <!--:columns="columns"-->
                        <!--:checked-rows.sync="checkedRows"-->
                        <!--checkable>-->
                    <!--<template slot="bottom-left">-->
                        <!--<b>Total checked</b>: {{ checkedRows.length }}-->
                    <!--</template>-->
                <!--</b-table>-->
            </b-tab-item>
        </b-tabs>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                checkedRows: [],
                tab: 'active',
                success: null,
                search: '',
            }
        },
        created(){
            this.fetchData();
        },
        methods: {
            fetchData(){
                axios.get('/user')
                  .then(res => {
                      this.users = res.data.users;
                  })
            },
            changeTab(){

            },
            deleteUser(id){
                axios.delete(`/user/${id}`)
                  .then(res => {
                      this.success = 'Deleted Successfully';
                      this.fetchData();
                      setTimeout(() => {
                          this.success = null;
                      }, 2000);
                  })
                  .catch(res => {
                      console.log(res);
                  });
            },
        },
        computed: {
            filteredUsers() {
                return this.users.filter(user => {
                    return user.firstName
                      .toString()
                      .toLowerCase()
                      .indexOf(this.search.toLowerCase()) >= 0
                });
            },
        }
    }
</script>