<template>
    <new-form :user="null"></new-form>
</template>

<script>
    import NewForm from './_form.vue';

    export default {
        data() {
            return {
                user: {},
            }
        },
        components: {
            NewForm
        },
        methods: {

        },
    }
</script>