<template>
    <div>
        <section class="hero is-info">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <router-link to="/" class="navbar-item">
                                    Home
                                </router-link>
                                <span class="navbar-item">
                                  <router-link to="/user/create" class="button is-primary is-inverted">
                                    <span class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    <span>New</span>
                                  </router-link>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        User Manager
                    </h1>
                    <h2 class="subtitle">
                        {{ formattedDate }}
                    </h2>
                </div>
            </div>
        </section>

        <div class="container">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        computed:{
            formattedDate(){
                return moment().format("dddd, MMM Do")
            },
        },
    }
</script>